<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/fonticons.css">
  <link rel="stylesheet" href="/css/plugins.css">
  <link rel="stylesheet" href="/css/responsive.css">
  <link rel="stylesheet" href="/css/style.css">


  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title></title>
</head>
<body>
<!--   <ul>
    <% if logged_in %>
    <li> <a href="/users/<%=current_user.id %>"><%= "#{current_user.name}" %></a></li>
    <li><a href="/logout">Logout</a></li>
    <li><a href="/">Home</a></li>
  <% else %>
    <li> <a href="/login">Login</a></li>
    <li> <a href="/users/new">Register</a></li>
    <% end %>
  </ul> -->
  <%= yield %>
</body>
